<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.soft.client.api.mapper.schoolmate.DynamicMapper">

    <resultMap id="dynamicVo" type="com.niit.soft.client.api.domain.vo.schoolmate.DynamicVo">
        <!--        <association property="dynamic" javaType="com.niit.soft.client.api.domain.model.schoolmate.Dynamic">-->
        <!--            <id property="pkDynamicId" column="pk_dynamic_id" javaType="java.lang.Long"/>-->
        <!--            <result property="title" column="title"/>-->
        <!--            <result property="content" column="content"/>-->
        <!--            <result property="thumbs" column="thumbs"/>-->
        <!--            <result property="comments" column="comments"/>-->
        <!--            <result property="type" column="type"/>-->
        <!--            <result property="isDeleted" column="is_deleted"/>-->
        <!--            <result property="gmtCreate" column="gmt_create"/>-->
        <!--        </association>-->
        <id property="pkDynamicId" column="pk_dynamic_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="thumbs" column="thumbs"/>
        <result property="comments" column="comments"/>
        <result property="type" column="type"/>
        <result property="userId" column="user_id"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="gmtCreate" column="gmt_create"/>

        <collection property="commentList" ofType="com.niit.soft.client.api.domain.model.schoolmate.Comment">
            <id property="pkCommentId" column="pk_comment_id"/>
            <result property="dynamicId" column="cdynamic_id"/>
            <result property="userId" column="cuser_id"/>
            <result property="content" column="con"/>
            <result property="isDeleted" column="cis_deleted"/>
            <result property="gmtCreate" column="cgmt_create"/>
        </collection>

        <collection property="thumbList" ofType="com.niit.soft.client.api.domain.model.schoolmate.Thumb">
            <id property="pkThumbId" column="pk_thumb_id"/>
            <result property="dynamicId" column="cdynamic_id"/>
            <result property="userId" column="tuser_id"/>
            <result property="isDeleted" column="tis_deleted"/>
            <result property="gmtCreate" column="tgmt_create"/>
        </collection>

    </resultMap>

    <select id="findDynamicVoById" resultMap="dynamicVo">
        SELECT d.pk_dynamic_id,
               d.title,
               d.content,
               d.thumbs,
               d.comments,
               d.type,
               d.user_id,
               d.gmt_create,
               d.is_deleted,
               t.pk_thumb_id,
               t.dynamic_id AS tdynamic_id,
               t.user_id    AS tuser_id,
               t.gmt_create AS tgmt_create,
               t.is_deleted AS tis_deleted,
               c.pk_comment_id,
               c.dynamic_id AS cdynamic_id,
               c.user_id    AS cuser_id,
               c.content    AS con,
               c.gmt_create AS cgmt_create,
               c.is_deleted AS cis_deleted
        FROM dynamic d
                 LEFT JOIN thumb t ON d.pk_dynamic_id = t.dynamic_id
                 LEFT JOIN comment c ON d.pk_dynamic_id = c.dynamic_id
        WHERE d.pk_dynamic_id = #{id}
    </select>


</mapper>
